<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <add key="processPriority" value="256" />
  <add key="core.theme" value="FluentDark" />
  <add key="core.pluginsDirectory" value="." />
  <add key="core.disableLazyLoading" value="false" />
  <add key="fftSpeed" value="20" />
  <add key="fftContrast" value="0" />
  <add key="pllPhaseAdjM" value="0.0" />
  <add key="pllPhaseAdjB" value="-1.75" />
  <add key="deemphasisTime" value="50" />
  <add key="spectrumStyle" value="3" />
  <add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
  <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
  <add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
  <add key="spectrumAnalyzer.peakColor" value="FFFF00" />
  <add key="spectrumAnalyzer.fillColor" value="1E90FF" />
  <add key="spectrumAnalyzer.attack" value="0.4" />
  <add key="spectrumAnalyzer.decay" value="0.3" />
  <add key="spectrumAnalyzer.refreshInterval" value="50" />
  <add key="waterfall.Attack" value="0.9" />
  <add key="waterfall.decay" value="0.7" />
  <add key="waterfall.refreshInterval" value="50" />
  <add key="waterfall.useUtcTimeStamp" value="False" />
  <add key="waterfall.gradient" value="440000,770000,990000,CC0000,FF0000,FE6611,FFFF00,FFFFFF,1190FF,000099,000050,000030,000020" />
  <add key="useAntiAliasedDisplay" value="true" />
  <add key="iqSource" value="0" />
  <add key="detectorType" value="1" />
  <add key="centerFrequency" value="103000000" />
  <add key="vfo" value="101400000" />
  <add key="spectrumWidth" value="8000001" />
  <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.3333 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
  <add key="funcubeFrequencyCorrection" value="-21.0" />
  <add key="softrockFrequencyMultiplier" value="4" />
  <add key="minReducedNarrowBandwidth" value="9000" />
  <add key="minReducedWideBandwidth" value="120000" />
  <add key="airspy.vga" value="6" />
  <add key="airspy.mixerAgc" value="False" />
  <add key="airspy.mixer" value="6" />
  <add key="airspy.lnaAgc" value="False" />
  <add key="airspy.lna" value="1" />
  <add key="airspy.sampleRate" value="10000000" />
  <add key="airspy.decimation" value="0" />
  <add key="airspy.trackingFilterEnabled" value="True" />
  <add key="airspy.biasTeeEnabled" value="False" />
  <add key="airspy.spyVerterEnabled" value="True" />
  <add key="airspy.spyVerterPPM" value="0" />
  <add key="airspy.usePacking" value="False" />
  <add key="airspy.aliasFreeRatio" value="0.8" />
  <add key="airspy.useRealSampling" value="0" />
  <add key="airspy.debug" value="0" />
  <add key="airspyhf.debug" value="0" />
  <add key="airspyhf.libdsp" value="1" />
  <add key="airspyhf.sampleRate" value="768000" />
  <add key="airspyhf.iqBalancer.buffersToSkip" value="1" />
  <add key="airspyhf.iqBalancer.fftIntegration" value="4" />
  <add key="airspyhf.iqBalancer.fftOverlap" value="2" />
  <add key="airspyhf.iqBalancer.correlationIntegration" value="16" />
  <add key="airspyhf.aliasFreeRatio" value="0.8" />
  <add key="airspyhf.useNativeDecimation" value="0" />
  <add key="core.iqBalancer.buffersToSkip" value="1" />
  <add key="core.iqBalancer.fftIntegration" value="4" />
  <add key="core.iqBalancer.fftOverlap" value="2" />
  <add key="core.iqBalancer.correlationIntegration" value="16" />
  <add key="spyserver.disableAutoScaling" value="false" />
  <add key="rdsUseFEC" value="True" />
  <add key="useTimeMarkers" value="False" />
  <add key="useAGC" value="False" />
  <add key="agcThreshold" value="-50" />
  <add key="agcDecay" value="500" />
  <add key="agcSlope" value="0" />
  <add key="agcHang" value="False" />
  <add key="filterAudio" value="True" />
  <add key="fftDisplayOffset" value="2" />
  <add key="fftDisplayRange" value="11" />
  <add key="zoomPosition" value="1" />
  <add key="displayBeforeFilter" value="false" />
  <add key="RTLBufferLength" value="16384" />
  <add key="SDRIQReadBlockCount" value="1" />
  <add key="SDRIQOutFifoBlockCount" value="0" />
  <add key="USRPSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0" />
  <add key="plugin.bandPlan.enabled" value="True" />
  <add key="plugin.bandPlan.autoUpdateSettings" value="True" />
  <add key="plugin.bandPlan.position" value="1" />
  <add key="airspy.simplifiedGain" value="0" />
  <add key="airspy.gainMode" value="0" />
  <add key="airspy.useDynamicRangeEnhancements" value="True" />
  <add key="plugin.nb.af.enabled" value="False" />
  <add key="plugin.nb.af.threshold" value="5" />
  <add key="plugin.nb.af.pulseWidth" value="50" />
  <add key="plugin.nb.af.lookupWindow" value="30" />
  <add key="plugin.nb.if.enabled" value="False" />
  <add key="plugin.nb.if.threshold" value="5" />
  <add key="plugin.nb.if.pulseWidth" value="30" />
  <add key="plugin.nb.if.lookupWindow" value="50" />
  <add key="plugin.nb.bb.enabled" value="False" />
  <add key="plugin.nb.bb.threshold" value="5" />
  <add key="plugin.nb.bb.pulseWidth" value="10" />
  <add key="plugin.nb.bb.lookupWindow" value="20" />
  <add key="plugin.cochannel.am.enabled" value="False" />
  <add key="plugin.cochannel.am.offset" value="0" />
  <add key="plugin.cochannel.am.bandwidth" value="12000" />
  <add key="plugin.cochannel.am.ifOffset" value="0" />
  <add key="plugin.cochannel.am.tuning" value="7.5" />
  <add key="plugin.cochannel.am.removeCarrier" value="True" />
  <add key="plugin.cochannel.am.autoTune" value="False" />
  <add key="plugin.cochannel.fm.enabled" value="False" />
  <add key="plugin.cochannel.fm.offset" value="0" />
  <add key="plugin.cochannel.fm.bandwidth" value="250000" />
  <add key="plugin.cochannel.fm.ifOffset" value="0" />
  <add key="plugin.cochannel.fm.tuning" value="7.5" />
  <add key="plugin.if.processor.notchWidth" value="300" />
  <add key="plugin.if.processor.notchAttenuation" value="-160" />
  <add key="plugin.if.processor.trackingEnabled" value="False" />
  <add key="plugin.if.processor.filterEnabled" value="False" />
  <add key="plugin.if.processor.showPanel" value="False" />
  <add key="plugin.if.processor.displayStage" value="False" />
  <add key="plugin.if.processor.showOnMainSpectrum" value="False" />
  <add key="plugin.audio.recorder.sampleFormat" value="1" />
  <add key="plugin.audio.recorder.channels" value="0" />
  <add key="plugin.audio.recorder.targetFolder" value="C:\Users\lyphi\Source\Repos\lyphix\SDRSharp.SDDE\Debug\net7.0-windows" />
  <add key="plugin.baseband.recorder.writeFolder" value="." />
  <add key="plugin.baseband.recorder.sampleFormat" value="1" />
  <add key="plugin.baseband.recorder.fileFormat" value="0" />
  <add key="plugin.baseband.recorder.fileLimitEnabled" value="False" />
  <add key="plugin.baseband.recorder.fileLimit" value="4294967295" />
  <add key="plugin.baseband.recorder.schedule" value="" />
  <add key="core.filterColor" value="FFFFFFFF" />
  <add key="fftWindowType" value="3" />
  <add key="fftView" value="2" />
  <add key="fftResolution" value="6" />
  <add key="frequencyShift" value="0" />
  <add key="frequencyShiftEnabled" value="False" />
  <add key="core.invertSpectrum" value="False" />
  <add key="correctIQ" value="False" />
  <add key="markPeaks" value="False" />
  <add key="stereo" value="False" />
  <add key="unityGain" value="False" />
  <add key="audioPanning" value="0" />
  <add key="latency" value="50" />
  <add key="sampleRate" value="48000 sample/sec" />
  <add key="audioGain" value="50" />
  <add key="AudioIsMuted" value="False" />
  <add key="splitterPosition" value="324" />
  <add key="waveFile" value="" />
  <add key="tuningStyle" value="0" />
  <add key="inputDevice" value="[MME] Microsoft 声音映射器 - Input" />
  <add key="outputDevice" value="[MME] Microsoft 声音映射器 - Output" />
  <add key="lockCarrier" value="False" />
  <add key="useAntiFading" value="False" />
  <add key="wfmState" value="200000,250,3,20,0,1000,100000,1,0,0,0,0,0" />
  <add key="nfmState" value="8000,1000,3,50,1,1000,12500,1,0,0,0,0,0" />
  <add key="amState" value="10000,1000,3,50,0,1000,1000,1,0,1,0,0,0" />
  <add key="lsbState" value="2400,1000,3,50,0,1000,100,1,0,1,0,0,0" />
  <add key="usbState" value="2400,1000,3,50,0,1000,100,1,0,1,0,0,0" />
  <add key="dsbState" value="6000,1000,3,50,0,1000,1000,1,0,1,0,0,1" />
  <add key="cwState" value="300,1000,3,50,0,1000,100,1,0,1,0,0,0" />
  <add key="rawState" value="10000,1000,3,50,0,1000,1000,1,0,1,0,0,0" />
  <add key="zoomBarIsSticky" value="False" />
  <add key="stepBarIsVisible" value="True" />
  <add key="windowState" value="0" />
  <add key="windowPosition" value="2389,306" />
  <add key="windowSize" value="1477,906" />
  <add key="core.slices.count" value="0" />
  <add key="airspy.serial" value="744C60C8212B414F" />
</configuration>