<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDRSharp.SDDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SDRSharp.SDDE.Properties.Settings>
            <setting name="Longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SatelliteType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SatelliteList" serializeAs="String">
                <value>Amateur Radio,https://celestrak.org/NORAD/elements/amateur.txt;NOAA,https://celestrak.org/NORAD/elements/noaa.txt</value>
            </setting>
        </SDRSharp.SDDE.Properties.Settings>
    </userSettings>
</configuration>